alembic
asyncpg
bcrypt<4
celery
cerebras-cloud-sdk
clamd
cryptography
fastapi
httpx
langchain
langchain-community
openpyxl
passlib
pdfplumber
pillow
psycopg2-binary
pydantic-settings
pymupdf
pytest
python-docx
python-jose
python-magic
python-multipart
qdrant-client
redis
reportlab
sentence-transformers
sqlalchemy
uvicorn
