--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4
python-multipart
celery
redis
langchain
langchain-community
qdrant-client
sentence-transformers
torch==2.1.0+cpu
torchvision==0.16.0+cpu
pymupdf
pdfplumber
python-docx
cerebras-cloud-sdk
pydantic-settings
pydantic[email]
email-validator
httpx
pytest
pytest-asyncio
pillow
openpyxl
python-magic
clamd
cryptography
python-dotenv
aiosmtplib
jinja2
slowapi
locust
